.header{
    background-color: lightgreen;
    align-items: center; 
    color: white;
    font-size: 20px;
    padding: 20px;


}
header.img{
    height: 50px;
    width: 50px;
}
body{

    background-color: white;
    
}
