.header{
    background-color: lightgreen;
    color: white;
    overflow: hidden; 
    align-items: center;
    display: flex;
    font-size: 20px;


    


}
body{

    background-color: white;
    
}
.head{
    display: flex;
    align-items: center;
}
.head img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.head input[type=text] {
    text-align: center;
    font-size: 16px;
    margin-right: 16px;
    float: right;
    border: none; 
    margin-top: 6px;

}
.sidenav{
    height: 100%;
    width: 200px;
    position: absolute;
    margin: 0;
    background-color: #f1f1f1;
    overflow: auto;
    padding: 0;



}
.sidenav a{

   text-decoration: none;
  color:black;
  display: block;
  padding: 16px;
  font-size: 14px;
}
.sidenav a.active{
    background-color: #04AA6D;
    color: white;
}
.sidenav a:hover:not(.active){
    background-color: #555;
    color: white;
}
div.content{
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}