.header{
    background-color: lightgreen;
    color: white;
    font-size: 20px; 
    display: flex;
    


}
body{

    background-color: white;
    
}
.head{
    align-items: center;
    display: flex;

    

}
.head img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.head input[type=text] {
    border: 1px solid #ccc;
    float: right;
    gap: 70px;


}
.sidenav{
    height: 100%;
    width: 200px;
    position: fixed;
    margin: 0;
    background-color: #f1f1f1;
    overflow: auto;
    padding: 0;



}
.sidenav a{

   text-decoration: none;
  color:black;
  display: block;
  padding: 16px;
}
.sidenav a.active{
    background-color: #04AA6D;
    color: white;
}
.sidenav a:hover:not(.active){
    background-color: #555;
    color: white;
}
div.content{
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}